<h2 class="test">sudo elemenstsudo</h2>

<div class="stitcky1">
  <p>All the items 50% off on product</p>
</div>
{{ result}} 
@if(true){
  <div>ggjggg</div>
} @else {
  <div>kklkk</div>
}

<button name="buttion" type="button" (click)="start()">start</button>

<button name="buttion" type="button" (click)="end()">end</button>
<button type="button" name="hover" class="movetop">movetop</button>
<div class="card">
<div class="img-header">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPzOmlMMQLEQZChTLEQkiiB8Rvc5y3e0jfpwNbMVvEDZm3hDRNYIRVRGI&s">
  <div class="discount">20%off</div>
</div>
 <h2>Karam dosa</h2>
 <p>it is very teasty and have to try once in a while. it has few flavors of ingradiants of the dosa that feels very good</p>
</div>

<router-outlet></router-outlet>
<saudia-footer></saudia-footer>
